.navigation-button {
  background-color: var(--accent-purple);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: transparent;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.navigation-button:hover {
  background-color: var(--accent-purple-bright);
}
